.loginPane {
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-background-radius: 8px;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: rgb(119,103,199);
    -fx-border-radius: 5px;
    -fx-font-family: "Futura";
}

.loginButton {
    -fx-background-color: rgb(119,103,199);
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.loginButton:hover {
    -fx-background-color: rgb(99, 79, 180);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 6, 0, 0, 4);
}

.loginLabel {
    -fx-text-fill: rgb(119,103,199);
    -fx-font-weight: bold;
    -fx-font-size: 28px;
}

.textField, .passwordField {
    -fx-background-color: white;
    -fx-border-color: #666666;
    -fx-border-width: 2;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.textField:hover, .passwordField:hover {
    -fx-border-color: rgb(119, 103, 199);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 6, 0, 0, 4);
}

.textField:focused, .passwordField:focused {
    -fx-border-color: rgb(119, 103, 199);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 6, 0, 0, 4);
}

.box {
    -fx-background-color: white;
    -fx-border-color: rgb(102, 102, 102);
    -fx-border-width: 2;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
}

.checkbox:hover .box {
    -fx-border-color: rgb(119, 103, 199);
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 6, 0, 0, 4);
}

.checkbox:selected .box {
    -fx-background-color: white;
    -fx-border-color: rgb(119, 103, 199);
}

.checkbox:selected .mark {
    -fx-background-color: rgb(119, 103, 199);
}

.errorMessageLabel {
    -fx-text-fill: rgb(255,0,0);
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.versionLabel, .dateLabel {
    -fx-font-family: "Inter";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.informationLabel {
    -fx-text-fill: rgb(102, 102, 102);
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}